.infocard{
    display: grid;
    width: 300px;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:20px;
}
.infocard-image{
    grid-area: image;
    background: url("../assets/back2.png") no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-size: cover;
    background-size: contain;

}
#image{
  background: url("../assets/insta.jpeg") no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-size: cover;
    background-size: contain;
}
#gitimage{
  background: url("../assets/github.png") no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-size: cover;
    background-size: contain;
}
#linkdin{
  background: url("../assets/linkdin.png") no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-size: cover;
    background-size: contain;
}
.infocard-text {
    grid-area: text;
    margin: 25px;
  }
  .infocard-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .infocard-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .infocard-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .infocard-stats {
    grid-area: stats; 
    padding-left: 30px;
    padding-top: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(5, 156, 161, 0.767);
    background-size: contain;
  }
  .infocard-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }
  .infocard:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
     