.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .skills {
    margin: 0 0 30px 0;
    padding: 0;
    width: calc(100% - 50px);
  }
  .skills li {
    display: block;
    position: relative;
    background-image: linear-gradient(to right top, #d91b2b, #e1125e, #d8328d, #c052b4, #9a6cd1, #7983e6, #4f97f3, #00a8f7, #00bffe, #00d5fe, #02e9f8, #5ffbf1);
    color: rgb(0, 0, 0);
    margin: 10px 0;
    border-radius: 5px;
    transition: width 1000ms ease-in-out;
  }
  .collapsed .skills li {
    width: 0 !important;
  }
  .skills li p {
    padding: 10px;
    margin: 0;
    font-weight: bold;
  }
  .skills li span {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 30px;
    top: 11px;
    text-align: right;
    font-weight: bold;
    color: rgb(233, 8, 8);
    font-size: 11px;
  }
  
  body {
    font-size: 13px;
    background-color: #e7e7e7;
  }
  
  hr {
    height: 1px;
    border: 0;
    background-color: #ccc;
    margin: 20px 0;
    padding: 0;
  }
  
  small {
    font-size: 11px;
    color: #666;
  }
  small a {
    color: inherit;
  }
  